---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
	
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>!UNDER CONSTRUCTION!</h1>
			
			<p>
				welcome to my unimportant useless website, not sure what my plan is with this. 
				guess we will see how it goes
			</p>
			<figure class="centered-figure">
				<img src="images/bikes/tandem.jpg" alt="Dawes Double Edge Tandem">
				<figcaption>Dawes Double Edge Tandem</figcaption>
			</figure>
			<p>
				if no image, blame lack of HTML skill. 😒
			</p>
		</main>
		<Footer />
	</body>
</html>
