---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, Chloe</h1>
			<p>
				hope you having a good day at uni.
			</p>
			<p>
				This is a test to see if the site updates.
			</p>
			<img astro-blog-starter-template/public/"tandem.jpg" alt="tandem bike">
			<p>
				Bik image doesnt work yet 😒
			</p>
		</main>
		<Footer />
	</body>
</html>
