---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello,</h1>
			<p>
				welcome to my unimportant useless website, not sure what my plan is with this. 
				guess we will see how it goes
			</p>
			<p>
				TANDEM BIKE IMAGE TEST
			</p>
			<img tandem.jpg alt="tandem bike">
			<p>
				Bik image doesnt work yet 😒
			</p>
		</main>
		<Footer />
	</body>
</html>
